<%- include('header') %>

<h1>Leandro Ribeiro dos Santos</h1>
<div>
    <p>Rua Pernambuco nº 648</p>
    <p>Cidade Industrial, Lorena/SP CEP: 12609-260</p>
    <p>Cel.: (12)98168-0852</p>
    <p>E-MAIL: lrsleandro@gmail.com</p>
    <p>Brasileiro - 30 anos, solteiro</p>
    <p>CNH: AB</p>
</div>

<h2>Resumo</h2>
<%- include('resumo') %>

<h2>Objetivo</h2>
<%- include('objetivo') %>

<h2>Formação Acadêmica</h2>
<%- include('formacao') %>

<h2>Experiência Profissional</h2>
<%- include('experiencia') %>

<h2>Habilidades</h2>
<%- include('habilidades') %>

<h2>Cursos Extracurriculares</h2>
<div>
    <p><a href="extracurriculares">Cursos</a></p>
</div>

<%- include('footer') %>
